body{
    font-family: Arial;

    background: url('imagess/online\ voting\ im...jpeg')
    no-repeat center center/cover;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:0;
}

/* HOME PAGE */
.home-box{

    /* Glass Effect */
    background: rgba(255,255,255,0.25);

    backdrop-filter: blur(2px);

    box-shadow:0 0 20px rgba(0,0,0,0.3);

    padding:40px;

    border-radius:20px;

    text-align:center;

    width:500px;
}

/* HOME BUTTON */
.home-box button{

    margin:10px;

    padding:15px 35px;

    background:blue;

    color:white;

    border:none;

    border-radius:10px;

    font-size:18px;

    cursor:pointer;
}

/* BUTTON HOVER */
.home-box button:hover{

    background:darkblue;
}

/* COMMON BOX */
.box{

    /* Glass Box */
    background: rgba(255,255,255,0.25);

    backdrop-filter: blur(2px);

    padding:30px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 0 20px rgba(0,0,0,0.3);

    width:300px;
}

/* INPUT */
input{

    width:100%;

    padding:10px;

    margin:10px 0;

    box-sizing:border-box;

    border:none;

    border-radius:5px;
}

/* BUTTON */
button{

    padding:10px 20px;

    border:none;

    cursor:pointer;

    color:white;

    border-radius:5px;

    font-size:15px;
}

/* LOGIN BUTTON */
.login-btn{

    background:blue;
}

/* VOTING PAGE */
.voting-machine{

    background: rgba(255,255,255,0.25);

    backdrop-filter: blur(2px);

    padding:50px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 0 25px rgba(0,0,0,0.3);
}

/* VOTE ROW */
.vote-row{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin:20px 0;

    gap:40px;
}

/* PARTY NAME */
.party-name{

    background:white;

    width:150px;

    padding:10px;

    border-radius:5px;
}

/* VOTE SECTION */
.vote-section{

    display:flex;

    align-items:center;

    gap:15px;
}

/* RED LIGHT */
.light{

    width:15px;

    height:15px;

    background:red;

    border-radius:50%;
}

/* VOTE BUTTON */
.vote-btn{

    width:70px;

    height:35px;

    background:blue;

    border-radius:20px;
}
/* BACK BUTTON */
.back-btn{

    position:absolute;

    bottom:30px;
}

.back-btn button{

    padding:12px 25px;

    background:black;

    color:white;

    border:none;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;
}